.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
}

.launch-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(211, 211, 211);
  width: 30rem;
  margin: 1rem;
  border-radius: 30px;
  box-shadow: 10px 5px 5px rgb(32, 32, 32);
}

.launch-details {
  margin: 2rem;
  font-style: oblique;
}